# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage

# IDE
.vscode/.ropeproject
*.code-workspace
